@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */


:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}


/* Universal Modern Scrollbar */
.scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--foreground) var(--background); /* Thumb and Track color */
}

/* WebKit Browsers (Chrome, Safari, Edge, Opera) */
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--background); /* Dark track */
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff7a18, #af002d, #319197); /* Gradient thumb */
  border-radius: 10px;
  transition: background 0.3s;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ff3d00, #ff9500);
}

.container {
  @apply mx-auto w-full max-w-[1280px] px-4 sm:px-6 lg:px-8;
}

.absolute-center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.flex-center {
  @apply flex justify-center items-center;
}

.section-title {
  @apply text-3xl font-black;
}

.link-btn {
  @apply relative font-extrabold;
}

.link-btn::after {
  content: "";
  @apply absolute-center w-full h-full bg-inherit z-10 transition-colors duration-0;
}

.link-btn:hover::after {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.link-btn span {
  @apply xxs:sticky absolute-center z-20;
}